/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--branco);
}

:root {

  --indigo-dark: #3f51b5;
  --indigo-darkest: #303f9f;
  --indigo-light: #c5cae9;
  --branco: #fff;
  --bege: #F3E2A9;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
